.container {
    background-image: url("leftbannerimg.png");
    background-repeat: no-repeat;
    flex: 1;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%; */
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.topleftcontainer {
    margin-top: 25px;
    margin-left: 45px;
}

.heading {
    color: #FFFFFF;
    letter-spacing: 0.02em;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;

}

.login {

    width: 120px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    border-style: none;
    background: #72DB73;
    border-radius: 33px;
    color: #FFFFFF;
    font-weight: bold;

}

.discover {
    margin-left: 45px;
    margin-top: 340px;
}

.bottomheading {


    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 0;
}

.bottomheading2 {
    margin-top: 0;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}