.signupcontainer {
    background-color: black;
    flex: 1;
    text-align: center;

    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%; */
}

.superapp {
    color: #72DB73;
    font-family: 'Single Day', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
}

.account {

    color: #ffff;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 0;

}

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}



.email {
    color: #ffff;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-right: 10px;

}


.line {

    border-left: 2px solid #72DB73;
    height: 20px;
    margin-top: 25px;

}

.google {
    margin-left: 10px;
    color: #ffff;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;

}

.justifycontent {
    justify-content: center;
}

.padding {
    padding-left: 150px;
}

input {
    padding: 10px;
    width: 360px;
    margin-bottom: 10px;
    background: #292929;
    border-radius: 3.81584px;
    border-style: none;
}

.tick {
    width: 15px;
}




.checkboxmsg {

    color: #7C7C7C;
    font-size: 10px;
    margin-left: 0;

}

.msg {
    color: red;
    margin-top: 0;
    padding-left: 150px;
    font-size: 10px;
}

.register {
    background-color: #72DB73;
    border-radius: 28px;
    width: 380px;
    padding: 5px;
    color: #ffff;
    font-weight: bold;

}



.terms {


    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #7C7C7C;
    margin-bottom: 0;
    padding-left: 110px;
}

.conditions {
    color: #72DB73;

}

.privacy {

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #7C7C7C;
    padding-left: 110px;
}

.policy {
    color: #72DB73;
}